/*General*/
/*
font-family: 'Nanum Gothic', sans-serif;
font-family: 'Fjalla One', sans-serif;
font-family: 'Barlow Condensed', sans-serif;
*/

html{
	font-size: 16px;
}
a:hover{
	text-decoration: none;
}
html body{
	font-family: 'Open Sans', sans-serif;
}
/*Background Rosa*/
header div.contenidoHeader div.invitacionContenido p:nth-child(1),
div.bgBoletos,div#mesaRegalos{
	background-color: #e8297c;
	
}
header div.contenidoHeader div.invitacionContenido p:nth-child(1){
	padding: 3.3% 0;
}


/*Titulos*/
header div.contenidoHeader div.invitacionContenido p:nth-child(1),
div#boletos div.botonBoleto p.titulo,
div#mesaRegalos p.titulo,
div#dressCode p.titulo,
div#lugarFecha p.titulo,
div.hotelReservacion p.titulo,
div#hotel p.titulo,
div#hotel p.subtituloR,
div#comoLlegar p.titulo,
div#despedida p.titulo
{
	font-size: 40px;
	letter-spacing: 10px;
	text-transform: uppercase;
	text-align: center;
	font-family: 'Open Sans Condensed', sans-serif;
	font-weight: 700;
	/*padding: 15px 0px;*/
    margin-bottom: 0;

}


hr{
	border-top: 25px solid rgba(0,0,0,.1);
	margin: 1rem auto 1rem 0;
	width: 40%;
}
hr.rosa{
	border-color: #e8297c;
}
hr.azul{
	border-color: #07c4cc;
}

div#dressCode hr, div#mesaRegalos hr{
	margin: 1rem auto 1rem auto;
	width: 10%;
}
/*Fin General*/

/*Header*/
/*Menu*/
nav.navbar.navbar-light{
  background-color: transparent!important;
  border-bottom: 1px solid #d2d2d2;
}
.navbar-light .navbar-nav .nav-link {
  color: #fff;
  font-weight: 700;
}
.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link {
    color: #d2d2d2;
}

.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover{
	color: #d2d2d2;
}
button:focus {
    outline: none;
}
button.navbar-toggler{
	margin: 30px auto 0 auto;
}
.navbar-light .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
  
}
.navbar-light .navbar-toggler,.navbar-light  .navbar-toggler:focus{
  border-color: rgb(255,255,255);
}

/*Fin Menu*/
header.bannerHeader{
	background: url(../images/header/banner.jpg) no-repeat center center;
	background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	padding-top: 20px;
}
header div.contenidoHeader figure.logo{
	margin: 215px 0 35px 0;
}
header div.contenidoHeader div.invitacionContenido,
div.hotelReservacion,
div.hotelHeader{
	border: 2px solid #fff;
	/*margin-bottom: 40px;*/
}
/*Agregar padding al cuadro de invitacion padding: 0px 50px;*/

header div.contenidoHeader div.invitacionContenido p{
	color: #fff;
	padding: 5px 20px;
}

header div.contenidoHeader div.invitacionContenido p:nth-child(2){
	font-size: 40px;
	letter-spacing: 2px;
	text-transform: uppercase;
	text-align: center;
	font-family: 'Open Sans Condensed', sans-serif;
	font-weight: 400;
}
.nopadding{
	padding: 0;
}
.nopaddingR{
	padding-right: 0;
}
.nopaddingL{
	padding-left: 0;
}
.nomargin{
	margin: 0;
}
/*Fin header*/

/*Contenido*/
div.fraseIntro p{
	text-align: center;
	font-style: italic;
}
div.fraseIntro p:nth-child(1){
	color: #000;
	font-size: 40px;
	line-height: 45px;
}
div.fraseIntro p:nth-child(2){
	color:#fff;
	font-size: 20px;
	line-height: 30px;
	margin: 30px 0;
	font-weight: 300;
}
div.fraseIntro p:nth-child(3),div#lugarFecha p:nth-child(1),{
	color:#000;
	font-size: 16px;
	margin-top: 20px;
}

div#boletos,div#lugarFecha{
	background-color: #e3e3e3;
}
div#boletos p.restriccion{
	color: #000;
    text-transform: none;
    font-size: 24px;
    letter-spacing: 1px;
    font-weight: 500;
    text-align: center;
}
div#boletos .botonBoleto{
	cursor: pointer;
}
div#boletos .botonBoleto p,div#mesaRegalos p,div.infoHotel p,
div.hotelReservacion p{
	color: #fff;
}
div#boletos span{
	font-size: 20px;
}
div#boletos div.botonBoleto p.titulo{
	margin-top: 50px;
}
div#boletos div.botonBoleto p.contenido{
	text-align: center;
	font-size: 25px;
	padding-top: 80px;
}
div#boletos p.frase{
	text-align: center;
	font-size: 25px;
    padding: 25px 60px;
}

div#ceremonia{
	text-align: center;
	padding: 50px;
}
div#ceremonia p{
	font-size: 25px;
}
div#ceremonia a{
	font-size: 35px;
	color: #000;
}
div#lugarFecha, div.lugar{
	border-top: 1px solid #e8297c;
}

div#lugarFecha p,div.infoHotel p{
	text-align: center;
}
div#lugarFecha p.titulo{
	text-align: left;
}

div.bannerHotel{
	background: url(../images/trescielos/3cielosBG.jpg) no-repeat center center;
	background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	padding: 100px 0px;
}
div.bannerHotel figure{
	margin-top: 165px;
}
div#hotel p.titulo, 
div#hotel div.infoReservacion p.precio,
div#dressCode p.titulo{
	color:#07c4cc;
}
div#hotel p.titulo{
	text-align: left;
}

div#hotel figure.mosaico,
div#comoLlegar figure.mosaico,
div#boletos figure.mosaico{
	margin-right: 10px;
}

div#hotel div.contactoHotel
{
    padding: 50px 100px 0 100px;
    border-right: 1px solid #d3d3d3;
}
div#hotel p.disponibilidad{
	color: #cf246e;
}
div#hotel p.disponibilidad span{
	color: #000;
}
div#hotel div.infoReservacion
{
    padding: 50px 100px 0 100px;
}
div#hotel div.infoReservacion p.precio{
	font-size: 45px;
	margin-bottom: 50px;
	letter-spacing: 5px;
}
div#hotel div.infoReservacion p.tituloServicios{
	margin-bottom: 0;
	letter-spacing: 5px;
}
div#hotel div.infoReservacion p.contenido{
	margin-top: -25px;
	border-bottom: 1px solid #000;
	font-size: 22px;
	letter-spacing: 5px;
	padding-bottom: 50px;
}
div#hotel div.infoReservacion{
 	font-weight: 700;
}
div#hotel div.contactoHotel a,div#hotel div.contactoHotel p{
	color:#000;
	font-size: 25px;
	text-align: left;
	display: block;
}
div#hotel div.contactoHotel p:nth-child(2){
	font-weight: 700;
}
div#hotel p.subtituloR{
	font-size: 20px;
	text-align: left;
}
div#hotel div.contactoHotel a:nth-child(1){
	font-size: 45px;
}

.videoWrapper {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
}
.videoWrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
div#comoLlegar,
div#dressCode,
div#despedida{
	background-color: #f7f7f7;
}
div#comoLlegar{
	padding-top: 50px;
	padding-bottom: 50px;
}

div#comoLlegar p.titulo{
	text-align: left;
}
div#comoLlegar p.direccion{
	font-size: 25px;
}
div#comoLlegar div.transporte{
	border-right: 1px solid #07c4cc;; 
}
div#comoLlegar figure figcaption{
	text-align: left;
    font-size: 12px;
    margin-top: 10px;
}

div.bgAzul{
	background: #07c4cc;
    padding: 50px 10px;
}
div.bgAzul p.titulo{
	color: #fff;
}

#mapa{
    height: 500px;
    width: 100%;
    margin-top: 50px;
}

div#textoCursi{
	padding: 50px 25%;
}

div#textoCursi p{
	color: #e8297c;
	font-size: 35px;
}


div#dressCode p.instruccion{
	text-align: center;
	font-size: 25px;
	padding: 25px 0; 
}

div#dressCode p.subtitulo,div#mesaRegalos p.subtitulo{
	font-size: 25px;
    letter-spacing: 10px;
    font-family: 'Open Sans Condensed', sans-serif;
    text-transform: uppercase;
    text-align: center;
    font-weight: 700;
}
div.infoDressCode{
	    margin-bottom: 50px;
}
div.infoDressCode p{
	color: #000;
	width: 100%;
    margin-bottom: 0;
}
div.infoDressCode p.titulo{
	color:#07c4cc;
	font-size: 35px;
	margin: 20px 0;
	font-weight: 700;
	font-family: 'Open Sans Condensed', sans-serif;
	text-align: center;
}
div.infoDressCode p.subtitulo{
	font-size: 25px;
	text-align: center;
}
div.infoDressCode div.infoHombres, div.infoDressCode div.infoMujeres{
	padding: 0 15px;
	margin-top: 50px;
}
div.infoDressCode div.infoMujeres{
	border-right: 2px solid #f7f7f7;
}
div.infoDressCode div.infoMujeres div.info p,div.infoHombres div.info p{
	padding-left: 40%;
}
div.infoDressCode div.infoMujeres div.info p.color,
div.infoDressCode div.infoMujeres div.info p.calzado,
div.infoDressCode div.infoHombres div.info p.color,
div.infoDressCode div.infoHombres div.info p.calzado{
	font-size: 22px;
}
div.infoDressCode div.info{
	margin-top: 30px;
}
div.info p.restriccion{
	font-weight: 700;
}

div#mesaRegalos{
	padding-top: 70px;
	padding-bottom: 70px;
}

div#mesaRegalos p.titulo{
	color: #07c4cc;
	font-size: 50px;
	text-align: center;
}
div#mesaRegalos p.subtitulo{
	color: #000;
	letter-spacing: 5px;
}
div#mesaRegalos .infoMesaRegalos p{
	text-align:  left;
	font-size: 25px;
	padding: 0 30%;
}
div#mesaRegalos a.boton{
	background: #07c4cc;
	color: #000;
	font-weight: 700;
	font-size: 25px;
	letter-spacing: 10px;
	font-family: 'Open Sans Condensed', sans-serif;
	text-align: center;
	text-transform: uppercase;
	padding: 25px 90px;
    margin-top: 40px;
}
div#mesaRegalos a.boton:hover{
	background: #06a7ac;
}

div.foto figure{
	margin-bottom: 0;
}

div#despedida{
	padding-top: 70px;
	padding-bottom: 70px;
}
div#despedida p.titulo{
	color:#07c4cc;
}

footer{
	background: #111a41;
}
footer{
	padding: 50px 0; 
}

footer p{
	color: #07c4cc;
	font-size: 20px;
	letter-spacing: 4px;
}

.btn-sonar {
  background: #FF594C;
  border: 0;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  display: inline-block;
  color: #fff;
  outline: none;
  position: relative;

}

/*Fin Contenido*/
/*Footer*/
/*Fin Footer*/

/*Media queries*/
/*Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px)
{
	header div.contenidoHeader div.invitacionContenido p:nth-child(2){
		font-size: 20px;
	}

	header div.contenidoHeader div.invitacionContenido p:nth-child(1){
		letter-spacing: 8px;
	}
	header div.contenidoHeader div.invitacionContenido p:nth-child(1), 
	div.hotelReservacion p.titulo,
	div.bgAzul p.titulo,
	div#lugarFecha p.contenido {
    	font-size: 20px;
	}
	div#boletos div.botonBoleto p.titulo{
		font-size: 26px;
	}
	div#boletos p.restriccion {
	    font-size: 20px;
	}
		div#boletos>div.row:nth-child(1) {
	    border-bottom: none;
	}
	div#boletos p:nth-child(2) {
	    font-size: 20px;
	    margin-bottom: 10px;
	}
	div#boletos p.frase{
	    padding: 25px 10px;
	}
	div#lugarFecha p.titulo{
		padding: 10px 0;
		font-size: 25px;
	}
	div.bannerHotel{
		padding: 1px;
	}
	div.bannerHotel figure img{
		width: 44%;
	}
	div.hotelReservacion {
    	padding: 20px;
	}
	div.hotelReservacion p{
		font-size: 16px;
	}
	div#hotel div.contactoHotel {
    	padding: 50px 10px 0 20px;
	}
	div#hotel div.infoReservacion {
    	padding: 50px 30px 0 30px;
	}
	div#comoLlegar p.direccion {
	    font-size: 20px;
	}
	div#comoLlegar p.titulo {
	    font-size: 25px;
	}
	div#ceremonia {
	    padding: 50px 10px;
	}
	div#textoCursi {
	    padding: 40px 10%;
	}
	div#textoCursi p {
	    font-size: 20px;
	}
	div.infoMujeres{
		border-right:none;
	}
	div.infoDressCode div.infoMujeres div.info p, div.infoDressCode div.infoHombres div.info p {
	    padding-left: 20%;
	}
	div#mesaRegalos .infoMesaRegalos p {
	    padding: 0 10px;
	}
	div#mesaRegalos a.boton {
	    font-size: 24px;
	    padding: 20px 0px;
	}
	div#dressCode hr, div#mesaRegalos hr {
	    width: 45%;
	}
}
/*Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767.98px)  {

 

}

/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991.98px) {

 html{
    font-size: 16px;
  }
}

/*Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199.98px){ 

 html{
    font-size: 16px;
  }

}

/* Extra large devices (large desktops, 1200px and up*/
@media (min-width: 1200px) { 

}