/*General*/
/*
font-family: 'Nanum Gothic', sans-serif;
font-family: 'Fjalla One', sans-serif;
font-family: 'Barlow Condensed', sans-serif;
*/

html{
	font-size: 16px;
}
a:hover{
	text-decoration: none;
}
html body{
	font-family: 'Open Sans', sans-serif;
}
/*Background Rosa*/
header div.contenidoHeader div.invitacionContenido p:nth-child(1),#boletos,#mesaRegalos,#dressCode,#comoLlegar{
	background-color: #e8297c;
}
/*padding-top: 26px; para boletos, para invitacion padding-top: 12px;*/

/*Titulos*/
header div.contenidoHeader div.invitacionContenido p:nth-child(1),
div#boletos p:nth-child(1),
div#mesaRegalos p:nth-child(1),
div#dressCode p:nth-child(1),
div#comoLlegar p:nth-child(1),
div#lugarFecha p:nth-child(2),
div.hotelReservacion p.titulo
{
	font-size: 40px;
	letter-spacing: 10px;
	text-transform: uppercase;
	text-align: center;
	font-family: 'Open Sans Condensed', sans-serif;
	font-weight: 700;
	padding: 15px 0px;
    margin-bottom: 0;

}
/*Fin General*/

/*Header*/
/*Menu*/
nav.navbar.navbar-light{
  background-color: transparent!important;
  border-bottom: 1px solid #d2d2d2;
}
.navbar-light .navbar-nav .nav-link {
  color: #fff;
  font-weight: 700;
}
.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link {
    color: #d2d2d2;
}
nav.navbar.navbar-light div.navbar-nav a.nav-item.nav-link.active{
  text-decoration: underline;
}
nav.navbar.navbar-light div.navbar-nav a.nav-item.nav-link:hover{
  text-decoration: underline;
}

button:focus {
    outline: none;
}
button.navbar-toggler{
	margin: 30px auto 0 auto;
}
.navbar-light .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
  
}
.navbar-light .navbar-toggler,.navbar-light  .navbar-toggler:focus{
  border-color: rgb(255,255,255);
}

/*Fin Menu*/
header.bannerHeader{
	background: url(../images/header/banner.jpg) no-repeat center center fixed;
	background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
}
header div.contenidoHeader figure.logo{
	margin: 215px 0 35px 0;
}
header div.contenidoHeader div.invitacionContenido,div.hotelReservacion{
	border: 2px solid #fff;
	margin-bottom: 40px;
}
/*Agregar padding al cuadro de invitacion padding: 0px 50px;*/

header div.contenidoHeader div.invitacionContenido p{
	color: #fff;
	padding: 10px 20px;
}

header div.contenidoHeader div.invitacionContenido p:nth-child(2){
	font-size: 20px;
	letter-spacing: 2px;
	text-transform: uppercase;
	text-align: center;
	font-family: 'Open Sans Condensed', sans-serif;
	font-weight: 400;
}
/*Fin header*/

/*Contenido*/
div.fraseIntro{
	margin: 50px 0px;
}
div.fraseIntro p{
	text-align: center;
	font-style: italic;
}
div.fraseIntro p:nth-child(1){
	color: #000;
	font-size: 40px;
	line-height: 45px;
}
div.fraseIntro p:nth-child(2){
	color:#636466;
	font-size: 25px;
	line-height: 30px;
	margin: 30px 0;
}
div.fraseIntro p:nth-child(3),div#lugarFecha p:nth-child(1),{
	color:#000;
	font-size: 16px;
	margin-top: 20px;
}


div#boletos{
	cursor: pointer;
}
div#boletos p,div#mesaRegalos p,div#dressCode p,div#comoLlegar p,div.infoHotel p,
div.hotelReservacion p{
	color: #fff;
}
div#boletos span{

	font-size: 20px;
}
div#boletos p:nth-child(2){
	text-align: center;
	letter-spacing: 3px;
}
div#lugarFecha p,div.infoHotel p{
	text-align: center;
}

div#lugarFecha p:nth-child(1){
	text-align: center;
	font-size: 16px;
	line-height: 30px;
	margin: 30px 0;
}

div.bannerHotel{
	background: url(../images/trescielos/3cielosBG.jpg) no-repeat center center;
	background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	padding: 20px;
}

div.infoHotel p:nth-child(1){
	font-size: 24px;
}
div.infoHotel p:nth-child(2){
	font-size: 20px;
}
div.infoHotel figure{
	text-align: center;
}
div.bgAzul{
	background: #07c4cc;
	padding-bottom: 10px;
	padding-left: 50px;
    padding-right: 50px;
}
div.hotelReservacion{
	padding: 50px;
}
div.contactoHotel a, div.contactoHotel p{
	color:#07c4cc;
	font-size: 25px;
	text-align: center;
	display: block;
}
div.contactoHotel p{
	font-size: 20px;
}
div.contactoHotel a:nth-child(1){
	font-size: 45px;
}
#mapa{
    height: 400px;
    width: 100%;
}
div.infoTransporte{
	margin: 20px 0;
	font-weight: 700;
}

div.infoDressCode p{
	color: #000;
	width: 100%;
    margin-bottom: 0;
    text-align: center;
}
div.infoDressCode p:nth-child(1){
	text-transform: uppercase;
	color:#07c4cc;
	font-size: 25px;
}

div.infoDressCode div.bgGris{
	background-color: #e3e3e3;
}
div.infoDressCode div.bgGris p.titulo{
	font-size: 40px;
	color: #e8297c;
	font-weight: 800;
}
div.infoDressCode div.bgGris p.subtitulo{
	font-size: 25px;
	font-weight: 800;
}
div.infoDressCode div.bgGris ul{
	list-style: none;
	margin-top: 15px;
}
div.infoMesaRegalos p{
	text-align: center;
	font-size: 25px;
}

div.bannerMesaRegalos{
	background: url(../images/mesaRegalos/banner.jpg) no-repeat center center;
	background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	padding: 200px 30px;
}
div.bannerMesaRegalos p{
	color: #fff;
	font-size: 50px;
	text-align: center;
}
/*Fin Contenido*/
/*Footer*/
/*Fin Footer*/

/*Media queries*/
/*Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) {
	header div.contenidoHeader div.invitacionContenido p:nth-child(1), div#boletos p:nth-child(1), div#mesaRegalos p:nth-child(1), div#dressCode p:nth-child(1), div#comoLlegar p:nth-child(1), div#lugarFecha p:nth-child(2), div.hotelReservacion p.titulo {
    	font-size: 24px;
	}
	div.hotelReservacion {
    	padding: 0px;
	}
	div.hotelReservacion p{
		font-size: 18px;
	}
}
/*Small devices (landscape phones, less than 768px)*/
@media (max-width: 767.98px) {
 html{
    font-size: 20px;
  }

}

/*Medium devices (tablets, less than 992px)*/
@media (max-width: 991.98px) { 

 html{
    font-size: 16px;
  }
}

/*Large devices (desktops, less than 1200px)*/
@media (max-width: 1199.98px) { 

 html{
    font-size: 16px;
  }
}
